.data {
	margin-top: 2rem;
	height: inherit;
	width: calc(100% - 2rem);
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	/* justify-content: center; */
	text-align: center;
	font-family: var(--ff-headings);
	overflow-x: hidden;
	overflow-y: scroll;
	padding:0 0 6rem 0;
}

/* .title {
	margin-bottom: 2rem;
} */

.divide {
	height: 1px;
	margin: 1rem 0;
	/* background: #444; */
	background: linear-gradient(
		-90deg,
		rgba(248, 219, 29, 1) 0%,
		rgba(250, 166, 83, 1) 15%,
		rgba(251, 132, 121, 1) 30%,
		rgba(252, 106, 157, 1) 45%,
		rgba(213, 98, 192, 1) 60%,
		rgba(47, 133, 243, 1) 70%
	);
}

.posts {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}
