.title {
	font-family: var(--ff-headings);
	margin-top: 2rem;
	line-height: 1;
}

.data {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 0.4rem;
	flex-wrap: wrap;
}

.small {
	width: 100%;
	line-height: 1.4;
	font-family: var(--ff-mono);
	/* font-size: 0.7rem; */
}
